body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #333;
    background: #fff5cc;
}

#main-heading {
    color: green;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: underline;
    text-shadow: 2px 2px 5px gray;
}

.blog-list {
    width: 80%;
    margin: 0 auto 20px;
    background: #ffedcc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #0003;
}

.blog-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ffcc5b;
    transition: background 0.3s ease;
}

.blog-item:hover {
    background: #ffa500;
    color: #fff;
}

.blog-item img {
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #0003;
    width: 100px;
    height: 100px;
}

.blog-item .blog-content h3 {
    color: #ff9900;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 1px 1px 2px #0003;
}

.blog-item .blog-content p {
    margin-bottom: 10px;
    font-size: 1em;
    color: #333;
}

.blog-item .read-more {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.blog-item .read-more:hover {
    color: darkblue;
    text-decoration: underline;
}